*.[oa]
hs_err*.log
*.obj
*~
*.bak
*.orig
*.d
*.lo
*.pyc
v9t9/build
v9t9/v9t9-java/libanalogtv/swig
v9t9/v9t9-java/libv9t9render/libv9t9render.so
v9t9/v9t9-java/libv9t9render/swig
v9t9/java/*/bin
v9t9/v9t9-c/v9t9-c/log.unix.txt
music.raw
v9t9/v9t9-c/tools/.classpath
v9t9/v9t9-c/tools/config.status
v9t9/v9t9-c/tools/Makefile
v9t9/v9t9-c/tools/FileUtils/Makefile
v9t9/v9t9-c/tools/FileUtils/Makefile.in
v9t9/v9t9-c/tools/DSRs/Makefile
v9t9/v9t9-c/tools/DSRs/Makefile.in
v9t9/v9t9-c/tools/TIAsm/Makefile
v9t9/v9t9-c/tools/TIAsm/Makefile.in
v9t9/v9t9-c/tools/Forth/Makefile
v9t9/v9t9-c/tools/Forth/Makefile.in
v9t9/v9t9-java/*/hs_err*.log
v9t9/build/bin
config.status
config.log
config.guess
config.sub
*/core
.deps
depcomp
Makefile
x86_64-unknown-linux-gnu
x86-unknown-linux-gnu
log.unix.txt
aclocal.m4
autom4te.cache
configure
install-sh
missing
Makefile.in
*/*.rom
*/*.grm
*/*.lst
*/*.bin
aclocal.m4
*.dotty
v9t9/v9t9-c/v9t9/source/Generate/generatevdpdrawrow
v9t9/v9t9-c/v9t9/source/Generate/generatevdpdrawrowtext
v9t9/v9t9-c/v9t9/source/v9t9
ylwrap
v9t9/v9t9-java/libanalogtv/libanalogtv.jar
v9t9/v9t9-java/libanalogtv/libanalogtv.so
v9t9/v9t9-java/org.ejs.coffee.core/bin
v9t9/v9t9-java/v9t9-java/bin
POTFILES
v9t9/v9t9-c/v9t9/source/vdpdrawrowtext.c
v9t9/v9t9-c/v9t9/source/vdpdrawrow.c
.cproject
.project
v9t9/v9t9-java/v9t9-common/bin
v9t9/v9t9-java/v9t9-server/bin
v9t9/v9t9-java/v9t9-gui/bin
*.class

