<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="com.windriver.debug.tcf.core.startup"/>

   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="com.windriver.tcf.dsf.LaunchConfigurationType"
            class="com.windriver.tcf.dsf.ui.LaunchDialogTabGroup"
            id="org.eclipse.dd.dsf.mi.launch.localRunLaunchTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/tcf.gif"   
            configTypeID="com.windriver.tcf.dsf.LaunchConfigurationType"
            id="com.windriver.tcf.dsf.LaunchImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension point="org.eclipse.core.runtime.adapters">
      <factory 
                class="com.windriver.tcf.dsf.ui.AdapterFactory" 
                adaptableType="com.windriver.tcf.dsf.core.launch.TCFDSFLaunch">
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementLabelProvider"/>
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider"/>
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory"/>
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IColumnPresentationFactory"/>
         <adapter type="org.eclipse.debug.core.commands.ITerminateHandler"/>
      </factory>         
   </extension> 
   
</plugin>
