<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="com.windriver.debug.tcf.SourceLocator"
            name="DSF over TCF"
            sourcePathComputerId="com.windriver.debug.tcf.SourcePathComputer"
            delegate="com.windriver.tcf.dsf.core.launch.TCFDSFLaunchDelegate"
            modes="debug"
            id="com.windriver.tcf.dsf.LaunchConfigurationType">
      </launchConfigurationType>
   </extension>
</plugin>
