<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- TCF framework startup participant -->   
   <extension point="org.eclipse.tm.tcf.startup">
      <class name="org.eclipse.tm.te.tcf.log.core.internal.Startup"/>
   </extension>

<!-- Preference contributions -->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.tm.te.tcf.log.core.internal.PreferencesInitializer">
      </initializer>
   </extension>

</plugin>
