<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.rse.core.systemTypes">
      <systemType
            description="Connects using Target Commenucation Framework"
            icon="icons/tcf.gif"
            iconLive="icons/tcf.gif"
            id="com.windriver.tcf.rse.ui.systemType"
            label="TCF"
            name="TCF">
      </systemType>
   </extension>
   <extension
         point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            category="processes"
            class="com.windriver.tcf.rse.ui.TCFProcessSubSystemConfiguration"
            description="Processes"
            icon="icons/system-processes.gif"
            iconlive="icons/system-processes-live.gif"
            id="com.windriver.tcf.rse.ui.Processes"
            name="Processes"
            priority="200"
            systemTypeIds="com.windriver.tcf.rse.ui.systemType"
            vendor="Wind River">
      </configuration>
      </extension>
   <extension
         point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            category="files"
            class="com.windriver.tcf.rse.ui.TCFFileSubSystemConfiguration"
            description="Files"
            icon="icons/system-files.gif"
            iconlive="icons/system-files-live.gif"
            id="com.windriver.tcf.rse.ui.Files"
            name="Files"
            priority="200"
            systemTypeIds="com.windriver.tcf.rse.ui.systemType"
            vendor="Wind River">
      </configuration>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory 
            class="com.windriver.tcf.rse.ui.TCFSystemViewProcessAdapterFactory" 
            adaptableType="com.windriver.tcf.rse.ui.TCFRemoteProcess">
            <adapter type="org.eclipse.rse.ui.view.ISystemViewElementAdapter"/>
            <adapter type="org.eclipse.rse.ui.view.ISystemDragDropAdapter"/>
            <adapter type="org.eclipse.rse.ui.view.ISystemRemoteElementAdapter"/>
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
            <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
            <adapter type="org.eclipse.ui.IActionFilter"/>
            <adapter type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter"/>
            <adapter type="org.eclipse.rse.core.subsystems.IRemoteObjectIdentifier"/>
      </factory> 
   </extension>
</plugin>
