<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Preference contributions -->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.tm.te.tcf.filesystem.internal.preferences.PreferencesInitializer"/>
   </extension>

<!-- Common navigator contributions -->
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.tm.te.ui.views.TargetExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.eclipse.tm.te.tcf.filesystem.navigator.*"/>
         </includes>
      </viewerContentBinding>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="false"
            contentProvider="org.eclipse.tm.te.tcf.filesystem.controls.FSTreeContentProvider"
            icon="icons/obj16/rootdrive.gif"
            id="org.eclipse.tm.te.tcf.filesystem.navigator.content"
            labelProvider="org.eclipse.tm.te.tcf.filesystem.controls.FSTreeLabelProvider"
            name="Target File System (TCF)"
            priority="normal">
            <triggerPoints>
            	<instanceof value="org.eclipse.tm.te.tcf.locator.interfaces.nodes.IPeerModel"/>
                <test property="org.eclipse.tm.te.tcf.locator.hasRemoteService" value="FileSystem"/>
            </triggerPoints>
            <possibleChildren>
            	<instanceof value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode"/>
            </possibleChildren>
            <commonSorter
                  class="org.eclipse.tm.te.tcf.filesystem.controls.FSTreeViewerSorter"
                  id="org.eclipse.tm.te.tcf.filesystem.navigator.sorter">
            </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.tm.te.tcf.filesystem.filters.HiddenFilesViewerFilter"
            id="org.eclipse.tm.te.tcf.filesystem.navigator.filter.hiddenFiles"
            name="%FSTreeViewerFilter.hiddenFiles"
            visibleInUI="true">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.tm.te.tcf.filesystem.filters.SystemFilesViewerFilter"
            id="org.eclipse.tm.te.tcf.filesystem.navigator.filter.systemFiles"
            name="%FSTreeViewerFilter.systemFiles"
            visibleInUI="true">
      </commonFilter>
   </extension>

<!-- Target Explorer Details Editor page contributions -->
   <extension point="org.eclipse.tm.te.ui.views.editorPages">
      <editorPage
            class="org.eclipse.tm.te.tcf.filesystem.internal.explorer.FSExplorerEditorPage"
            name="%FSExplorerEditorPage.name"
            id="org.eclipse.tm.te.tcf.filesystem.FSExplorerEditorPage">
      </editorPage>
   </extension>

<!-- Target Explorer Details Editor page binding contributions -->
   <extension point="org.eclipse.tm.te.ui.views.editorPageBindings">
      <editorPageBinding
            id="org.eclipse.tm.te.tcf.filesystem.binding.FSExplorerEditorPage"
            pageId="org.eclipse.tm.te.tcf.filesystem.FSExplorerEditorPage">
         <enablement>
            <with variable="activeEditorInput">
               <and>
                  <adapt type="org.eclipse.tm.te.tcf.locator.interfaces.nodes.IPeerModel">
                     <test property="org.eclipse.tm.te.tcf.locator.hasRemoteService" value="FileSystem"/>
                  </adapt>
                  <test
                        property="org.eclipse.tm.te.core.preference"
                        args="bundleId=org.eclipse.tm.te.tcf.filesystem,key=tcf.filesystem.core.feature.editor.content.enable"
                        value="true">
                  </test>
               </and>
            </with>
         </enablement>
      </editorPageBinding>
   </extension>

</plugin>
