<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Preference contributions -->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.tm.te.tcf.filesystem.internal.preferences.PreferencesInitializer"/>
   </extension>

<!-- Common navigator contributions -->
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.tm.te.ui.views.TargetExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.eclipse.tm.te.tcf.filesystem.navigator.*"/>
         </includes>
      </viewerContentBinding>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="false"
            contentProvider="org.eclipse.tm.te.tcf.filesystem.controls.FSTreeContentProvider"
            icon="icons/obj16/rootdrive.gif"
            id="org.eclipse.tm.te.tcf.filesystem.navigator.content"
            labelProvider="org.eclipse.tm.te.tcf.filesystem.controls.FSTreeLabelProvider"
            name="%navigatorContent.name"
            priority="normal">
            <triggerPoints>
                <adapt
                      type="org.eclipse.tm.te.tcf.locator.interfaces.nodes.IPeerModel">
                   <test
                         property="org.eclipse.tm.te.tcf.locator.hasRemoteService"
                         value="FileSystem">
                   </test>
                </adapt>
            </triggerPoints>
            <possibleChildren>
            	<instanceof value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode"/>
            </possibleChildren>
            <commonSorter
                  class="org.eclipse.tm.te.tcf.filesystem.controls.FSTreeViewerSorter"
                  id="org.eclipse.tm.te.tcf.filesystem.navigator.sorter">
            </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.tm.te.tcf.filesystem.filters.HiddenFilesViewerFilter"
            id="org.eclipse.tm.te.tcf.filesystem.navigator.filter.hiddenFiles"
            name="%FSTreeViewerFilter.hiddenFiles"
            visibleInUI="true">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.tm.te.tcf.filesystem.filters.SystemFilesViewerFilter"
            id="org.eclipse.tm.te.tcf.filesystem.navigator.filter.systemFiles"
            name="%FSTreeViewerFilter.systemFiles"
            visibleInUI="true">
      </commonFilter>
   </extension>

<!-- Target Explorer Details Editor page contributions -->
   <extension point="org.eclipse.tm.te.ui.views.editorPages">
      <editorPage
            class="org.eclipse.tm.te.tcf.filesystem.internal.explorer.FSExplorerEditorPage"
            name="%FSExplorerEditorPage.name"
            id="org.eclipse.tm.te.tcf.filesystem.FSExplorerEditorPage">
      </editorPage>
   </extension>

<!-- Target Explorer Details Editor page binding contributions -->
   <extension point="org.eclipse.tm.te.ui.views.editorPageBindings">
      <editorPageBinding
            id="org.eclipse.tm.te.tcf.filesystem.binding.FSExplorerEditorPage"
            pageId="org.eclipse.tm.te.tcf.filesystem.FSExplorerEditorPage">
         <enablement>
            <with variable="activeEditorInput">
               <and>
                  <adapt type="org.eclipse.tm.te.tcf.locator.interfaces.nodes.IPeerModel">
                     <test property="org.eclipse.tm.te.tcf.locator.hasRemoteService" value="FileSystem"/>
                  </adapt>
                  <test
                        property="org.eclipse.tm.te.runtime.preference"
                        args="bundleId=org.eclipse.tm.te.tcf.filesystem,key=tcf.filesystem.core.feature.editor.content.enable"
                        value="true">
                  </test>
               </and>
            </with>
         </enablement>
      </editorPageBinding>
   </extension>
   
<!-- Target Explorer context menu contributions -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.tm.te.ui.controls.menu.fs?after=additions">
         <separator name="group.open" visible="true"/>
         <command
               commandId="org.eclipse.ui.navigator.Open"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Open"
               id="open"
               label="%fsmenu.open.label"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <instanceof value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode"/>
                     <test property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile"/>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isReadable">
                     </test>
                     <not>
                        <test property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isBinaryFile"/>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <menu
               label="%menu.label.openwith">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                     </instanceof>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                     </test>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isReadable">
                     </test>
                     <not>
                        <test
                              property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isBinaryFile">
                        </test>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
            <dynamic
                  class="org.eclipse.tm.te.tcf.filesystem.internal.handlers.OpenWithContribution"
                  id="openWithMenu">
            </dynamic>
         </menu>
         <separator
               name="group.state"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.refresh"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Refresh"
               icon="platform:/plugin/org.eclipse.ui/icons/full/elcl16/refresh_nav.gif"
               id="refresh"
               label="%fsmenu.refresh.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
	               <with
	                     variable="selection">
	                  <count
	                        value="1">
	                  </count>
	                  <iterate>
	                     <instanceof
	                           value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
	                     </instanceof>
	                     <test
	                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
	                     </test>
	                  </iterate>
	               </with>
                 <not>
                    <test
                          property="org.eclipse.tm.te.tcf.filesystem.propertytester.cache.isAutoSavingOn">
                    </test>
                 </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tm.te.tcf.filesystem.commands.update"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Update"
               id="update"
               label="%fsmenu.update.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <and>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                     </instanceof>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                     </test>
                  </iterate>
               </with>
                <not>
                   <test
                         property="org.eclipse.tm.te.tcf.filesystem.propertytester.cache.isAutoSavingOn">
                   </test>
                </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tm.te.tcf.filesystem.commands.commit"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Commit"
               id="commit"
               label="%fsmenu.commit.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                     </instanceof>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                     </test>
                  </iterate>
               </with>
                <not>
                   <test
                         property="org.eclipse.tm.te.tcf.filesystem.propertytester.cache.isAutoSavingOn">
                   </test>
                </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tm.te.tcf.filesystem.commands.merge"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Merge"
               id="merge"
               label="%fsmenu.merge.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                     </instanceof>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                     </test>
                  </iterate>
               </with>
                <not>
                   <test
                         property="org.eclipse.tm.te.tcf.filesystem.propertytester.cache.isAutoSavingOn">
                   </test>
                </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tm.te.tcf.filesystem.commands.revert"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Revert"
               id="revert"
               label="%fsmenu.revert.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                     </instanceof>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                     </test>
                  </iterate>
               </with>
                <not>
                   <test
                         property="org.eclipse.tm.te.tcf.filesystem.propertytester.cache.isAutoSavingOn">
                   </test>
                </not>
               </and>
            </visibleWhen>
         </command>
         <separator name="group.properties" visible="true"/>
         <command
               commandId="org.eclipse.ui.file.properties"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Properties"
               id="properties"
               label="%PropertiesAction.label"
               tooltip="%PropertiesAction.tooltip">
               <visibleWhen>
                  <with variable="selection">
                     <count value="1"/>
                     <iterate operator="and" ifEmpty="false">
                        <instanceof
                              value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.tm.te.ui.views.TargetExplorer#Popup?after=group.properties">
         <command
               commandId="org.eclipse.ui.file.properties"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Properties"
               id="properties"
               label="%PropertiesAction.label"
               tooltip="%PropertiesAction.tooltip">
               <visibleWhen>
                  <with variable="selection">
                     <count value="1"/>
                     <iterate operator="and" ifEmpty="false">
                        <instanceof
                              value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.tm.te.ui.views.TargetExplorer#Popup?after=group.open">
         <command
               commandId="org.eclipse.ui.navigator.Open"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Open"
               id="open"
               label="%temenu.open.label"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <instanceof value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode"/>
                     <test property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile"/>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isReadable">
                     </test>
                     <not>
                        <test property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isBinaryFile"/>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <menu
               label="%menu.label.openwith">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                     </instanceof>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                     </test>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isReadable">
                     </test>
                     <not>
                        <test
                              property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isBinaryFile">
                        </test>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
            <dynamic
                  class="org.eclipse.tm.te.tcf.filesystem.internal.handlers.OpenWithContribution"
                  id="openWithMenu">
            </dynamic>
         </menu>
         <separator
               name="group.state"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.refresh"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Refresh"
               icon="platform:/plugin/org.eclipse.ui/icons/full/elcl16/refresh_nav.gif"
               id="refresh"
               label="%temenu.refresh.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                        </instanceof>
                        <test
                              property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                        </test>
                     </iterate>
                  </with>
                  <not>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.cache.isAutoSavingOn">
                     </test>
                  </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tm.te.tcf.filesystem.commands.update"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Update"
               id="update"
               label="%temenu.update.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                        </instanceof>
                        <test
                              property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                        </test>
                     </iterate>
                  </with>
                  <not>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.cache.isAutoSavingOn">
                     </test>
                  </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tm.te.tcf.filesystem.commands.commit"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Commit"
               id="commit"
               label="%temenu.commit.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                        </instanceof>
                        <test
                              property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                        </test>
                     </iterate>
                  </with>
                  <not>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.cache.isAutoSavingOn">
                     </test>
                  </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tm.te.tcf.filesystem.commands.merge"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Merge"
               id="merge"
               label="%temenu.merge.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                        </instanceof>
                        <test
                              property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                        </test>
                     </iterate>
                  </with>
                  <not>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.cache.isAutoSavingOn">
                     </test>
                  </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tm.te.tcf.filesystem.commands.revert"
               helpContextId="org.eclipse.tm.te.tcf.filesystem.command_Revert"
               id="revert"
               label="%temenu.revert.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                        </instanceof>
                        <test
                              property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                        </test>
                     </iterate>
                  </with>
                  <not>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.cache.isAutoSavingOn">
                     </test>
                  </not>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
<!-- Target Explorer property page contributions -->   
   <extension point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.tm.te.tcf.filesystem.internal.properties.GeneralInformationPage"
            id="org.eclipse.tm.te.tcf.filesystem.pages.basic"
            name="%GeneralInformationPage.name">
         <enabledWhen>
            <instanceof value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode"/>
         </enabledWhen>
      </page>
   </extension>
   
<!-- Target Explorer property tester contributions -->   
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tm.te.tcf.filesystem.internal.handlers.FSTreeNodePropertyTester"
            id="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode"
            namespace="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode"
            properties="isFile,isDirectory,isBinaryFile,isReadable,isWritable,isExecutable,getCacheState"
            type="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
      </propertyTester>
      <propertyTester
            class="org.eclipse.tm.te.tcf.filesystem.internal.handlers.CachePropertyTester"
            id="org.eclipse.tm.te.tcf.filesystem.propertytester.cache"
            namespace="org.eclipse.tm.te.tcf.filesystem.propertytester.cache"
            properties="isAutoSavingOn"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   
<!-- Target Explorer command contributions -->
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.tm.te.tcf.filesystem.commands.update"
            name="%command.update.name">
      </command>
      <command
            id="org.eclipse.tm.te.tcf.filesystem.commands.commit"
            name="%command.commit.name">
      </command>
      <command
            id="org.eclipse.tm.te.tcf.filesystem.commands.merge"
            name="%command.merge.name">
      </command>
      <command
            id="org.eclipse.tm.te.tcf.filesystem.commands.revert"
            name="%command.revert.name">
      </command>
   </extension>

<!-- Target Explorer command handler contributions -->
   <extension point="org.eclipse.ui.handlers">

      <!-- This handler contribution is for the double click behaviour in the
           Target Explore tree view -->
      <handler
            class="org.eclipse.tm.te.tcf.filesystem.internal.handlers.OpenFileHandler"
            commandId="org.eclipse.ui.navigator.Open">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isFile">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isReadable">
                     </test>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.isBinaryFile">
                        </test>
                     </not>
                  </iterate>
               </with>
               <with
                     variable="activePartId">
                  <or>
                     <equals
                           value="org.eclipse.tm.te.ui.views.TargetExplorer">
                     </equals>
                     <equals
                           value="org.eclipse.tm.te.ui.view.Editor">
                     </equals>
                  </or>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.tm.te.tcf.filesystem.internal.handlers.RefreshHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="activePartId">
               <or>
                  <equals
                        value="org.eclipse.tm.te.ui.views.TargetExplorer">
                  </equals>
                  <equals
                        value="org.eclipse.tm.te.ui.view.Editor">
                  </equals>
               </or>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.tm.te.tcf.filesystem.internal.handlers.UpdateHandler"
            commandId="org.eclipse.tm.te.tcf.filesystem.commands.update">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <test
                        property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.getCacheState"
                        value="outdated">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.tm.te.tcf.filesystem.internal.handlers.CommitHandler"
            commandId="org.eclipse.tm.te.tcf.filesystem.commands.commit">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <test
                        property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.getCacheState"
                        value="modified">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.tm.te.tcf.filesystem.internal.handlers.MergeHandler"
            commandId="org.eclipse.tm.te.tcf.filesystem.commands.merge">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <test
                        property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.getCacheState"
                        value="conflict">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.tm.te.tcf.filesystem.internal.handlers.RevertHandler"
            commandId="org.eclipse.tm.te.tcf.filesystem.commands.revert">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <or>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.getCacheState"
                           value="modified">
                     </test>
                     <test
                           property="org.eclipse.tm.te.tcf.filesystem.propertytester.treenode.getCacheState"
                           value="conflict">
                     </test>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   
   <extension point="org.eclipse.ui.decorators">
      <decorator
            icon="icons/ovr/ovr_modified.png"
            id="org.eclipse.tm.te.tcf.filesystem.decorators.modified"
            label="%decorator.modified.label"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectState
                  name="cache.state"
                  value="modified">
            </objectState>
         </enablement>
      </decorator>
      <decorator
            icon="icons/ovr/ovr_outdated.png"
            id="org.eclipse.tm.te.tcf.filesystem.decorators.outdated"
            label="%decorator.outdated.label"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectState
                  name="cache.state"
                  value="outdated">
            </objectState>
         </enablement>
      </decorator>
      <decorator
            icon="icons/ovr/ovr_conflict.png"
            id="org.eclipse.tm.te.tcf.filesystem.decorators.conflict"
            label="%decorator.conflict.label"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectState
                  name="cache.state"
                  value="conflict">
            </objectState>
         </enablement>
      </decorator>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.tm.te.tcf.filesystem.internal.preferences.TargetExplorerPreferencePage"
            id="org.eclipse.tm.te.tcf.filesystem.preferencePage"
            name="%preference.page.name">
      </page>
   </extension>
   
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.tm.te.tcf.filesystem.model.FSTreeNode"
            class="org.eclipse.tm.te.tcf.filesystem.internal.adapters.NodeStateFilterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
   </extension>
   
</plugin>
