<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Extension point contributions -->
   <extension-point id="executorServices" name="%ExtensionPoint.executorServices.name" schema="schema/executorServices.exsd"/>
   <extension-point id="executorUtilDelegates" name="%ExtensionPoint.executorUtilDelegates.name" schema="schema/executorUtilDelegates.exsd"/>

<!-- Executor service contributions -->
   <extension point="org.eclipse.tm.te.runtime.concurrent.executorServices">
      <executorService
            id="org.eclipse.tm.te.runtime.concurrent.executors.singleThreaded"
            label="Single Threaded Executor">
            <class
                  class="org.eclipse.tm.te.runtime.concurrent.executors.SingleThreadedExecutorService">
               <parameter
                     name="threadPoolNamePrefix"
                     value="Target Explorer Single Thread Executor">
               </parameter>
            </class>
      </executorService>
   </extension>

</plugin>
