<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2010 Wind River Systems, Inc. and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Wind River Systems - initial API and implementation
 -->

<plugin>

  	<extension point="org.eclipse.tm.tcf.debug.ui.launch_context">
   		<class name="org.eclipse.tm.internal.tcf.cdt.ui.TCFLaunchContext" />
   	</extension>
   	
    <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.tm.internal.tcf.debug.ui.model.TCFNode"
            class="org.eclipse.tm.internal.tcf.cdt.ui.disassembly.TCFDisassemblyBackendFactory">
         <adapter
               type="org.eclipse.cdt.debug.internal.ui.disassembly.dsf.IDisassemblyBackend">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.tm.internal.tcf.debug.ui.model.TCFNode"
            class="org.eclipse.tm.internal.tcf.cdt.ui.TCFNodeAdapterFactory">
         <adapter
               type="org.eclipse.cdt.debug.core.model.ISteppingModeTarget">
         </adapter>
         <adapter
               type="org.eclipse.debug.core.model.ISuspendResume">
         </adapter>
         <adapter
               type="org.eclipse.cdt.ui.text.c.hover.ICEditorTextHover">
         </adapter>
         <adapter
               type="org.eclipse.cdt.debug.core.model.IReverseToggleHandler">
         </adapter>
         <adapter
               type="org.eclipse.cdt.debug.core.model.IReverseStepIntoHandler">
         </adapter>
         <adapter
               type="org.eclipse.cdt.debug.core.model.IReverseStepOverHandler">
         </adapter>
         <adapter
               type="org.eclipse.cdt.debug.core.model.IReverseResumeHandler">
         </adapter>
         <adapter
               type="org.eclipse.cdt.debug.core.model.IUncallHandler">
         </adapter>
      </factory>
    </extension>
    
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.eclipse.tm.internal.tcf.cdt.ui.commands.TCFReverseDebuggingPropertyTester"
             id="org.eclipse.tcf.cdt.ui.ReverseDebuggingTester"
             namespace="org.eclipse.cdt.debug.ui"
             properties="isReverseDebuggingEnabled"
             type="org.eclipse.tm.internal.tcf.debug.ui.model.TCFNode">
       </propertyTester>
    </extension>
    
    <extension
          point="org.eclipse.debug.ui.debugModelContextBindings">
       <modelContextBinding
             contextId="org.eclipse.cdt.debug.ui.debugging"
             debugModelId="org.eclipse.tm.tcf.debug">
       </modelContextBinding>
       <modelContextBinding
             contextId="org.eclipse.cdt.debug.ui.reverseDebuggingActionSet"
             debugModelId="org.eclipse.tm.tcf.debug">
       </modelContextBinding>
    </extension>

</plugin>
