<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Extension Points -->
   <extension-point id="handlers" name="%ExtensionPoint.handlers.name" schema="schema/handlers.exsd"/>
   <extension-point id="bindings" name="%ExtensionPoint.handlers.name" schema="schema/bindings.exsd"/>

</plugin>
