<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="targetPage" name="Target Page" schema="schema/targetPage.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.tcf.target.category"
            name="Target Management">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.tcf.target.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.eclipse.tcf.target.targetsView"
            name="Target Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.tcf.target.targetsView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.tcf.target.targetsContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.tcf.target.targetsView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.tcf.target.*">
            </actionExtension></includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.tcf.internal.target.ui.TargetsContentProvider"
            id="org.eclipse.tcf.target.targetsContent"
            labelProvider="org.eclipse.tcf.internal.target.ui.TargetsLabelProvider"
            name="TCF Targets"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IWorkspaceRoot">
            </instanceof></triggerPoints>
      </navigatorContent>
      <actionProvider
            class="org.eclipse.tcf.internal.target.ui.actions.TargetActionProvider"
            id="org.eclipse.tcf.target.TargetActions">
         <enablement>
            <instanceof
                  value="org.eclipse.tcf.target.core.ITarget">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.tcf.internal.target.ui.editors.TargetEditor"
            contributorClass="org.eclipse.tcf.internal.target.ui.editors.TargetEditorContributor"
            icon="icons/sample.gif"
            id="org.eclipse.tcf.target.editors.TargetEditor"
            name="Target">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.tcf.internal.target.ui.newtarget.NewTargetCommandHandler"
            id="org.eclipse.tcf.target.command.newTarget"
            name="NewTarget">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.tcf.target.targetsView">
         <command
               commandId="org.eclipse.tcf.target.command.newTarget"
               icon="icons/sample.gif"
               label="New Target..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.tcf.target.ui.targetPage">
      <targetPage
            class="org.eclipse.tcf.internal.target.ui.filesystem.FileSystemTargetPage">
         <enablement>
            <test
                  args="FileSystem"
                  property="org.eclipse.tcf.target.targetService">
            </test>
         </enablement>
      </targetPage>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.tcf.internal.target.ui.filesystem.FileSystemContentProvider"
            id="org.eclipse.tcf.target.fileSystemContent"
            labelProvider="org.eclipse.tcf.internal.target.ui.filesystem.FileSystemLabelProvider"
            name="TCF File System"
            priority="normal"
            providesSaveables="false"
            sortOnly="false">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.tcf.target.core.ITarget">
            </instanceof>
            <test
                  args="FileSystem"
                  property="org.eclipse.tcf.target.targetServiceRunning">
            </test>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.tcf.target.targetsView">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.eclipse.tcf.target.fileSystemContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.tcf.internal.target.ui.TargetLaunchShortcut"
            id="org.eclipse.tcf.target.targetShortcut"
            label="TCF Launch"
            modes="debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.tcf.target.core.ITarget">
                     </instanceof>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="Attach Debugger using TCF"
               mode="debug">
         </description>
         <configurationType
               id="org.eclipse.tm.tcf.debug.LaunchConfigurationType"></configurationType>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.tcf.internal.target.ui.properties.TargetSummaryPropertyPage"
            id="org.eclipse.tcf.target.ui.properties.summary"
            name="Summary"
            nameFilter="*.*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.tcf.target.core.ITarget">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.tcf.internal.target.ui.properties.LocalPropertyPage"
            id="org.eclipse.tcf.target.ui.properties.local"
            name="Local Connection">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.tcf.internal.target.core.LocalTarget">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
