<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="editorPageBindings" name="%ExtensionPoint.editorPageBindings.name" schema="schema/editorPageBindings.exsd"/>
   <extension-point id="editorPages" name="%ExtensionPoint.editorPages.name" schema="schema/editorPages.exsd"/>

<!-- Common Navigator contributions -->
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewer
            helpContext="org.eclipse.tm.te.ui.views.TargetExplorer"
            viewerId="org.eclipse.tm.te.ui.views.TargetExplorer">
            <popupMenu
                  id="org.eclipse.tm.te.ui.views.TargetExplorer#Popup"
                  allowsPlatformContributions="true">
                  <insertionPoint name="group.new" separator="true"/>
                  <insertionPoint name="group.goto"/>
                  <insertionPoint name="group.expandto" separator="true"/>
                  <insertionPoint name="group.expand"/>
                  <insertionPoint name="group.open" separator="true"/>
                  <insertionPoint name="group.openWith"/>
                  <insertionPoint name="group.connect" separator="true"/>
                  <insertionPoint name="group.symbols" separator="true"/>
                  <insertionPoint name="group.symbols.rd"/>
                  <insertionPoint name="group.symbols.loadunload"/>
                  <insertionPoint name="group.symbols.additions"/>
                  <insertionPoint name="group.launch" separator="true"/>
                  <insertionPoint name="group.launch.rundebug"/>
                  <insertionPoint name="group.launch.modes"/>
                  <insertionPoint name="group.launch.additions"/>
                  <insertionPoint name="group.show" separator="true"/>
                  <insertionPoint name="group.edit" separator="true"/>
                  <insertionPoint name="group.delete"/>
                  <insertionPoint name="group.build" separator="true"/>
                  <insertionPoint name="group.refresh" separator="true"/>
                  <insertionPoint name="group.reorganize"/>
                  <insertionPoint name="group.reorder"/>
                  <insertionPoint name="group.port"/>
                  <insertionPoint name="group.generate" separator="true"/>
                  <insertionPoint name="group.search" separator="true"/>
                  <insertionPoint name="group.connection" separator="true"/>
                  <insertionPoint name="group.operations" separator="true"/>
                  <insertionPoint name="group.analysis" separator="true"/>
                  <insertionPoint name="additions" separator="true"/>
                  <insertionPoint name="group.properties" separator="true"/>
            </popupMenu>
            <options>
               <property
                     name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                     value="true">
               </property>
            </options>
      </viewer>

      <viewerContentBinding viewerId="org.eclipse.tm.te.ui.views.TargetExplorer">
         <includes>
            <contentExtension pattern="org.eclipse.tm.te.ui.views.navigator.*"/>
         </includes>
      </viewerContentBinding>
      
      <viewerActionBinding
            viewerId="org.eclipse.tm.te.ui.views.TargetExplorer">
            <includes>
               <actionExtension
                     pattern="org.eclipse.tm.te.ui.views.navigator.actions.*">
               </actionExtension>
            </includes>
      </viewerActionBinding>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.tm.te.ui.views.actions.NewActionProvider"
            id="org.eclipse.tm.te.ui.views.navigator.actions.NewActionProvider">
            <enablement>
            </enablement>
      </actionProvider>

      <!-- Working Sets -->
      <commonFilter
            id="org.eclipse.tm.te.ui.views.navigator.filters.workingSet"
            name="%filters.workingSet.name"
            description="%filters.workingSet.description" 
            class="org.eclipse.tm.te.ui.views.workingsets.WorkingSetFilter" 
            activeByDefault="false"
            visibleInUI="false">
      </commonFilter>
      <actionProvider
            class="org.eclipse.tm.te.ui.views.actions.WorkingSetActionProvider"
            id="org.eclipse.tm.te.ui.views.navigator.actions.WorkingSetActions">
           <enablement>
                <or>
					<adapt type="java.lang.Object" />	 
					<adapt type="java.util.Collection"> 
						<count value="0" />
					</adapt>
				</or>
           </enablement>            
      </actionProvider>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.tm.te.ui.views.workingsets.WorkingSetsContentProvider"
            icon="icons/obj16/workingsets.gif"
            id="org.eclipse.tm.te.ui.views.navigator.workingSets"
            labelProvider="org.eclipse.tm.te.ui.views.workingsets.WorkingSetsLabelProvider"
            name="%workingsets.extension.name"
            priority="higher">
         <triggerPoints>
            <instanceof value="org.eclipse.ui.IWorkingSet"/>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="java.lang.Object"/>
         </possibleChildren>
         <commonSorter
               class="org.eclipse.tm.te.ui.views.workingsets.WorkingSetSorter"
               id="org.eclipse.tm.te.ui.views.workingSets.sorter"/>  
      </navigatorContent>
      
   </extension>

<!-- View contributions -->
   <extension point="org.eclipse.ui.views">
      <category
            id="org.eclipse.tm.te.ui.views.category"
            name="%ViewCategory.name">
      </category>
      <view
            category="org.eclipse.tm.te.ui.views.category"
            class="org.eclipse.tm.te.ui.views.internal.View"
            icon="icons/eview16/targets_view.gif"
            id="org.eclipse.tm.te.ui.views.TargetExplorer"
            name="%TargetExplorer.name"
            restorable="true">
      </view>
   </extension>

<!-- Target Explorer Perspective -->
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.tm.te.ui.views.perspective.PerspectiveFactory"
            icon="icons/eview16/editor.gif"
            id="org.eclipse.tm.te.ui.perspective"
            name="%Perspective.name">
      </perspective>
   </extension>

<!-- Perspective contributions -->
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.tm.te.ui.perspective">
      	 <!-- Run/Debug actions should be available -->
         <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
		 <!-- Register the view shortcuts  -->
         <viewShortcut id="org.eclipse.tm.te.ui.views.TargetExplorer"/>
      </perspectiveExtension>
   </extension>

<!-- Editor contributions -->
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.tm.te.ui.views.internal.editor.Editor"
            default="false"
            icon="icons/eview16/prop_ps.gif"
            id="org.eclipse.tm.te.ui.view.Editor"
            name="%Editor.name">
      </editor>
   </extension>

<!-- Working Set contributions -->
   <extension point="org.eclipse.ui.workingSets">
      <workingSet
            icon="icons/obj16/workingset.gif"
            id="org.eclipse.tm.te.ui.views.workingset"
            name="%workingset.name"
            pageClass="org.eclipse.tm.te.ui.views.workingsets.pages.TargetWorkingSetPage">
      </workingSet>
   </extension>

<!-- Target Explorer menu contributions -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.tm.te.ui.views.TargetExplorer#Popup?after=group.properties">
         <command
               commandId="org.eclipse.ui.file.properties"
               helpContextId="org.eclipse.tm.te.ui.views.command_Properties"
               id="properties"
               label="%PropertiesAction.label"
               tooltip="%PropertiesAction.tooltip">
               <visibleWhen>
                  <with variable="selection">
                     <count value="1"/>
                     <iterate operator="and" ifEmpty="false">
                        <test property="org.eclipse.tm.te.ui.views.hasApplicableEditorBindings" value="true"/>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>

<!-- Command contributions -->
   <extension point="org.eclipse.ui.commands">
      <!-- Definition of the Common Navigator global retargetable open
           action id as command.
      --> 
      <command
            categoryId="org.eclipse.tm.te.ui.commands.category"
            helpContextId="org.eclipse.ui.navigator.Open"
            id="org.eclipse.ui.navigator.Open"
            name="%Command.open.name">
      </command>
   </extension>

<!-- Handler contributions -->
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.ui.file.properties"
            class="org.eclipse.tm.te.ui.views.handler.PropertiesCommandHandler">
         <enabledWhen>
            <with variable="selection">
               <count value="1"/>
            </with>
         </enabledWhen>
         <activeWhen>
            <and>
               <with variable="activePartId">
                  <equals value="org.eclipse.tm.te.ui.views.TargetExplorer"/>
               </with>
               <with variable="selection">
                  <iterate operator="and" ifEmpty="false">
                     <test property="org.eclipse.tm.te.ui.views.hasApplicableEditorBindings" value="true"/>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>      

      <handler
            commandId="org.eclipse.ui.navigator.Open"
            class="org.eclipse.tm.te.ui.views.handler.OpenCommandHandler">
          <enabledWhen>
            <with variable="selection">
               <count value="1"/>
            </with>
         </enabledWhen>
         <activeWhen>
            <with variable="activePartId">
               <equals value="org.eclipse.tm.te.ui.views.TargetExplorer"/>
            </with>
         </activeWhen>
      </handler>      
   </extension>

<!-- Eclipse core expressions property tester -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tm.te.ui.views.expressions.EditorPropertyTester"
            id="org.eclipse.tm.te.ui.views.EditorPropertyTester"
            namespace="org.eclipse.tm.te.ui.views"
            properties="hasApplicableEditorBindings"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
